[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pymongo = {extras = ["srv"], version = "*"}
cython = "*"
pyyaml = "*"
python-dotenv = "*"
pylint = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
